<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>All Cocktails</h1>
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li>
          <div class="card">
            <span class="cocktail-name"><%= cocktail.name%></span>
            <%= link_to 'Show More', cocktail, class: "btn btn-primary" %>
            <%= link_to 'Delete', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </li>
        <% end %>
        <%= link_to 'Create a New Cocktail', new_cocktail_path, class: "btn btn-success" %>
      </ul>

    </div>
  </div>
</div>


